{% extends "base.html" %}

{% block content %}
    <h1>New User</h1>
    <form action="" method="post"  enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
            {% for error in form.last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.photo.label }}<br>
           {{ form.photo() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
